@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;

  --first-color: #f50000;
  --second-color: #0e2431;
  --third-color: #fafafa;
  --final-color: #ffff00;

  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: var(--mb-1);
}

ul {
  margin: var(--mb-1);
  padding: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fafafa;
}

img {
  max-width: 95%;
  height: auto;
  margin: 0 10px;
  display: block;
  border-radius: 0.9rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-left: 0;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-6);
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
}
.section {
  height: 90vh;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.bd-grid {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgb(26, 26, 26);
  box-shadow: 0 1px 4px rgba(135, 149, 163, 0.342);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 60%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: 0.5s;
    }
  }

  &__item {
    margin-bottom: var(--mb-4);
  }

  &__link {
    position: relative;
    color: #fff;

    &:hover {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--first-color);
      }
    }
  }
  &__logo {
    color: var(--final-color);
  }
  &__toggle {
    color: var(--third-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}

.home {
  height: 90vh;
  //   row-gap: 1rem;
  &__data {
    align-self: center;
  }
  &__title {
    margin-top: 2em;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-1);

    &-color {
      color: var(--first-color);
    }
  }
  &__social {
    margin-top: 18em;
    margin-left: 2rem;
    display: flex;
    column-gap: 62px;
    z-index: 10;

    &-icon {
      width: max-content;
      margin-bottom: var(--mb-2);
      font-size: 1.7rem;
      color: var(--second-color);

      &:hover {
        color: var(--first-color);
      }
    }
  }

  &__img {
    // display: none;
    position: absolute;
    top: 30em;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
.button {
  display: inline-block;
  margin-top: 2em;
  margin-left: 0.2em;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;

  &:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
}

// About
.about {
  &__container {
    row-gap: 0rem;
    text-align: center;
    // text-align: start;
  }
  &__subtitle {
    margin-left: 0.8em;
    margin-bottom: var(--mb-2);
  }

  &__text {
    a {
      color: #f50000;
    }
  }
  &__img {
    justify-self: center;

    & img {
      display: none;
      width: 200px;
      border-radius: 0.5rem;
    }
  }
}

// Skills

.skills {
  height: 170vh;
  &__container {
    row-gap: 2rem;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: var(--mb-2);
  }
  &__text {
    margin-bottom: var(--mb-4);
  }
  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  }
  &__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  &__names {
    display: flex;
    align-items: center;
  }
  &__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
  }

  &__img {
    border-radius: 0.5rem;
    width: 100%;
    z-index: 10;
  }
}

// Work

.work {
  height: 170vh;
  &__container {
    row-gap: 2rem;
  }
  &__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;

    & img {
      transition: 1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Contact
.contact {
  height: 90vh;
  &__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  &__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
    margin-top: -1em;
  }
}

// Footer
.footer {
  background-color: rgb(26, 26, 26);
  // box-shadow: 0 1px 4px rgba(135, 149, 163, 0.342);
  color: #fff;
  text-align: center;
  font-weight: var(--normal-font-size);
  padding: 2rem 0;

  &__title {
    font-size: 1.5rem;
    margin-bottom: var(--mb-4);
  }
  &__social {
    margin-bottom: var(--mb-4);
  }
  &__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
  }
}

// Media screens
@media screen and(min-width: 768px) {
  .section-title {
    color: #ffff00;
    &::after {
      width: 100px;
    }
  }
  .section {
    font-size: 22px;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  body {
    margin: 0;
  }

  .nav {
    height: 4rem;

    &__logo {
      margin-left: 1rem;
      font-size: var(--h2-font-size);
    }

    &__list {
      font-size: 1.3em;
      text-align: center;
      line-height: 2em;
    }
    &__item {
      margin-left: var(--mb-6);
      margin-bottom: 1em;
    }
    &__toggle {
      font-size: 2rem;
    }
    &__link {
      color: var(--third-color);
      &:hover {
        &::after {
          top: 2rem;
          left: 1;
          height: 0.18rem;
          background-color: var(--first-color);
        }
      }
    }
  }

  .show {
    right: 0;
  }

  .section-title {
    font-size: 34px;
    margin-bottom: var(--mb-6);

    &::after {
      width: 80px;
      top: 3rem;
    }
  }

  .home {
    height: 95vh;
    &__data {
      align-self: flex-end;
    }

    &__title {
      margin-top: 0em;
      margin-left: 0.5em;
      font-size: 42px;
      z-index: 10;
      color: #fafafa;
    }
    &__social {
      padding-top: 0;
      margin-top: 1rem;
      margin-left: 7.5rem;
      padding-bottom: 2rem;
      align-self: flex-end;

      &-icon {
        color: var(--third-color);
        margin-bottom: 0;
        margin-right: var(--mb-4);
        font-size: 3rem;
      }
    }
    &__img {
      position: fixed;
      z-index: -10;
      top: -5em;
      left: -1em;
      width: 2000px;
    }
    .button {
      margin-left: 1.3em;
    }
  }
  .about {
    margin: 1em;
    height: 130vh;
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
    &__subtitle {
      margin-left: 0.3em;
      margin-bottom: var(--mb-2);
      color: #fafafa;
    }
    &__text {
      font-size: x-large;
      color: #fafafa;
    }
    &__img {
      & img {
        display: block;
        border-radius: 15px;
        width: 100%;
      }
    }
  }
  .skills {
    height: 110vh;
    margin: 1em;
    &__container {
      z-index: 10;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
    &__subtitle,
    &__text {
      color: #fafafa;
    }
    &__data {
      box-shadow: 0px 4px 25px rgba(219, 212, 212, 0.15);
    }
    &__icon {
      color: var(--final-color);
    }
    &__names {
      display: flex;
      color: var(--third-color);
      align-items: center;
    }
  }
  .work {
    height: 100vh;
    &__container {
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 1rem;
    }
  }
  .contact {
    height: 90vh;
    margin: 1.4em;
    &__form {
      width: 560px;
    }
    &__container {
      justify-items: center;
    }
    &__input {
      background-color: #ffffffb4;
      border: 1.5px solid var(--final-color);
    }
    &__button {
      display: block;
      border: none;
      outline: none;
      font-size: var(--normal-font-size);
      cursor: pointer;
      margin: auto;
    }
  }

  .footer {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 1px 4px rgba(135, 149, 163, 0.342);
    color: #fff;
    text-align: center;
    font-weight: var(--big-font-size);
    padding: 1rem 0;

    &__title {
      font-size: 1.5rem;
      margin-bottom: var(--mb-4);
    }
    &__social {
      margin-bottom: var(--mb-4);
    }
    &__icon {
      font-size: 1.5rem;
      color: #fff;
      margin: 0 var(--mb-2);
    }
  }
}
@media screen and(min-width: 1024px) {
  .nav {
    &__list {
      display: flex;
      font-weight: 300;
      margin-top: 1rem;
    }

    &__toggle {
      display: none;
    }
  }
}

@media screen and(min-width: 1366px) {
  .section-title {
    color: #ffff00;
    &::after {
      width: 110px;
    }
  }
  .l-header {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 1px 4px rgba(135, 149, 163, 0.342);
  }
  .nav {
    &__logo {
      margin-left: 1.4rem;
      font-size: var(--h2-font-size);
    }
  }
  .home {
    height: 120vh;
    &__title {
      margin-top: 3em;
      font-size: 4rem;
      z-index: 10;
      color: #fafafa;
    }
    &__social {
      margin-top: 1.8em;
      margin-left: 1.8em;

      &-icon {
        color: var(--third-color);
      }
    }
    &__img {
      position: fixed;
      z-index: -10;
      top: -5em;
      left: -1em;
      width: 2000px;
    }
  }
  .button {
    margin-left: 2em;
  }

  .about {
    height: 150vh;
    margin: 1em;
    &__container {
      text-align: inherit;
    }
    &__subtitle {
      color: #fafafa;
    }
    &__text {
      font-size: larger;
      color: #fafafa;
    }
    &__img {
      width: 400px;
    }
  }
  .skills {
    height: 160vh;
    margin: 1em;
    &__container {
      z-index: 10;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
    &__subtitle,
    &__text {
      color: #fafafa;
    }
    &__data {
      box-shadow: 0px 4px 25px rgba(219, 212, 212, 0.15);
    }
    &__icon {
      color: var(--final-color);
    }
    &__names {
      display: flex;
      color: var(--third-color);
      align-items: center;
    }
  }
  .work {
    margin: 1em;
    height: 220vh;
  }
  .contact {
    height: 100vh;
    margin: 1.4em;
    &__form {
      width: 560px;
    }
    &__container {
      justify-items: left;
    }
    &__input {
      background-color: #ffffffb4;
      border: 1.5px solid var(--final-color);
    }
    &__button {
      display: block;
      border: none;
      outline: none;
      font-size: var(--normal-font-size);
      cursor: pointer;
      margin-left: 0em;
    }
  }
}
